// [Fixed] 必须引用 windows.h 以识别 WS_POPUP, DS_SETFONT 等系统常量
#include <windows.h>
#include "../include/resource.h"

// 图标定义
IDI_APPICON ICON "../assets/AdvancedClipboard.ico"

// 关于对话框定义
IDD_ABOUTBOX DIALOGEX 0, 0, 260, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Author"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "", IDC_ABOUT_TEXT, 7, 7, 246, 100
    PUSHBUTTON      "GitHub", IDC_GITHUB_BUTTON, 105, 120, 50, 14
END